{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Trialx test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.typing-0.2.0.min.js' %}"></script>
  </head>
  <body>
    <div class="page-header"> 
      <h1 class="text-center">{% block title %}(no title){% endblock %}<small>{% block titlesubtext %}{% endblock %}</small></h1>
    </div>
    <div class="container">
      {% block content %}(no content){% endblock %}
    </div>
  </body>
</html>
