{% extends "base.html" %}
{% block title %}
Trialx File Upload
{% endblock %}
{% block titlesubtext %}
{% endblock %}

{% block content %}
<form class="form" role="form" id="searchform" method='POST' enctype='multipart/form-data' action='/file'>
  {% csrf_token %}
  <div class="form-group">
    <label for="file">File input</label>
    <input type="file" id="file" name="file">
    <p class="help-block">Upload file here</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="row" id="uploadresults">
</div>
{% endblock %}
