<div class="col-sm-3">
    <div class="bs-sidebar affix" id="sidebar">
    <ul class="nav nav-pills nav-stacked">
    {% if facets %}
    {% for field, values in facets.items %}
    <li class="disabled">{{ values.name }}
      <ul class="nav nav-pills nav-stacked">
      {% for key, value in values.values.items %}
        <li><a id="{{ field }}{{ key }}" href="#">{{ key }}( {{ value }} )</a></li>
        <script type="text/javascript">
          $(function() {
            $("#{{ field }}{{ key }}").click(function(event){
              event.preventDefault();
              var facets = $('#selected_facets').val()
              $('#selected_facets').val(facets+"|{{ field }}:{{ key }}")
              $.get("query",$('#searchform').serialize()).done(function(data){
                    $('#searchresults').html(data);
                  });   
            });
          });
        </script>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    {% endif %}
    </ul>
    </div> <!--well bs-sidebar affix-->
</div> <!--col-sm-3-->
<div class="col-sm-9">
  <div class="panel-group" id="accordion">
    {% if docs %}
    {% for doc in docs %}
    {% if doc %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ doc.trial_id_key }}">
            {{ doc.title }}
          </a>
        </h4>
      </div>
      <div id="collapse{{ doc.trial_id_key }}" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd> {{ doc.trial_id_key }} </dd>
            <dt>Title</dt>
            <dd> {{ doc.title }} </dd>
            <dt>Condition</dt>
            <dd> {{ doc.condition }} </dd>
            <dt>Site</dt>
            <dd> {{ doc.sitename }} </dd>
            <dt>Location</dt>
            <dd> {{ doc.city }} , {{ doc.state }} , {{ doc.zip }} </dd>
          </dl>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>