{% extends "base.html" %}
{% block title %}
Trialx Search
{% endblock %}
{% block titlesubtext %}
type away
{% endblock %}

{% block content %}
<form class="form" role="form" id="searchform">
  <div class="form-group">
    <label class="sr-only" for="search">Search</label>
    <input type="text" class="form-control" id="search" name="search" placeholder="Search"></input>
    <input type="hidden" id="selected_facets" name="selected_facets"></input>
  </div>
</form>
<div class="row" id="searchresults">
</div>
<script>
  $('#search').typing({
    stop: function(event, $elem) {
      $.get('query', $('#searchform').serialize()).done(function(data){
        $('#selected_facets').val('');
        $('#searchresults').html(data);
        });
        },
        delay: 400
        });
      </script>
      {% endblock %}
